
<div class="login_container">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Create User</h1>
        <br/>
        <div class="form-floating">
            <input id="username" autocomplete="false" type="text" class="form-control was-validated" id="username" placeholder="password">
            <label for="username" class="text-muted">Username</label>
        </div>
        <br/>
        <div class="form-floating">
            <input id="password" autocomplete="false" type="password" class="form-control was-validated" id="password" placeholder="password">
            <label for="password" class="text-muted">Password</label>
        </div>
        <br/>
        <div class="form-floating">
            <input id="email" type="text" autocomplete="false" class="form-control was-validated" placeholder="email">
            <label for="email" class="text-muted">Email</label>
        </div>
        <br/>
        <div id ="perm_container">

        </div>
        <button class="w-100 btn btn-lg btn-success" onclick="create_user()" type="submit">Create User</button>
    </main>
</div>

    

<script src="/static/admin_create.js"></script>