<h1>Perms</h1>
<br>
<div style="display:flex; flex-direction: row;justify-content: space-around;max-width: max-content;">
    <div class="form-floating">
        <input type="test" class="form-control" id="perm_name" placeholder="Perm Name">
        <label for="perm_name" class="text-muted">Perm Name</label>
    </div>
    <p style="opacity: 0;">spa</p>
    <button onclick="create_perm()" class="btn btn-success">Create Perm</button>
</div>
<br>
<div id ="perm_container">



</div>


<script src="/static/perms.js"></script>